body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: linear-gradient(135deg, #a8e063, #56ab2f);
    background-size: 200% 200%;
    animation: bgShift 6s ease infinite;
    transition: opacity 1s ease; 
  }
  
 h1 {
    color: #06790b;
  }

 
  .main-content {
    padding: 20px;
  }
  